* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  background-image: url("images/penguin.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
}

#glasses {
  position: absolute;
  top: 10vh;
  left: 630px;
  max-width: 10%;
  height: auto;
  display: none;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main_container img {
  width: 40%;
  position: relative;
}

.side_panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#myRange2 {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #add8e6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
